*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(179, 179, 190);
}

.contenedor {
     width: 90%;
     max-width: 1200px;
     margin: 20px auto;
     display: grid;
     grid-gap: 20px;
     grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repaet(4, auto);
}

.contenedor > div {
     background-color: cornsilk;
     padding: 20px;
     border-radius: 4px;
}

.contenedor .header {
    background-color: crimson;
    color: ghostwhite;
    grid-column-start: 1;
    grid-column-end: 4;
}
.contenedor .contenido{
    grid-column: span  2;
    background-color: ivory;
}
.contenedor .sidebar {
    background-color: red;
    grid-row: span 2;
}
.contenedor .widget-1,
.contenedor .widget-2{
    background-color: seagreen;
    color: snow;
}

.contenedor .footer{
    background-color: blue;
    color: cornsilk;
    grid-column: span 3;
}
@media screen and (max-width: 768px) {
    body {
        background-color:gray;
    }

    .contenedor .contenido {
        grid-column: 1 / -1;
    }

    .contenedor .sidebar {
        grid-column: 1 / -1;
    }

    .contenedor .widget {
        grid-column: spam 2;
    }
}
